{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'front/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'front/img/favicon.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Blog - Alquranku</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="{% static 'bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'front/css/gsdk.css' %}" rel="stylesheet"/>
    <link href="{% static 'front/css/examples.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'front/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
</head>

<body class="blog-page">

    <nav class="navbar navbar-inverse navbar-transparent navbar-fixed-top" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button id="menu-toggle" type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </button>
          <a class="navbar-brand" href="http://gsdk.creative-tim.com"><i class="fa fa-chevron-left"></i> TAKHTA</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul  class="nav navbar-nav navbar-right">
               
                <li>
                    <a href="{% url 'home' %}">
                         Home
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'alquran' %}" class="" data-toggle="">
                         Al-Qur'an 
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'doa' %}" class="" data-toggle="">
                         Doa - Doa Sehari - Hari
                    </a>
                </li>
               
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        More
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu dropdown-with-icons">
                          <li>
                            <a href="{% url 'contact' %}">
                                 <i class="pe-7s-mail-open-file"></i> Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">
                                <i class="pe-7s-info"></i> About Us
                            </a>
                        </li>
                       
                      </ul>
                </li>
                <li>
                    {% if request.user.is_anonymous %}
                        <a href="{% url 'login' %}" class="btn btn-round btn-default">Admin here!</a>
                    {% else %}
                        <a href="{% url 'dashboard' %}" class="btn btn-round btn-default">Dashboard</a>
                    {% endif %}
                </li>
           </ul>
    
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static 'front/img/lauut.jpg' %}" alt="..." />
        </div>
        <div class="small-info">
            <h1 style="font-family:Arial Italic">Al-Quran</h1>
            <h3 style="font-family:Courier New Bold Italic">Dan sesungguhnya Kami telah mengulang-ulang kepada manusia dalam Al Quran ini tiap-tiap macam perumpamaan, tapi kebanyakan manusia tidak menyukai kecuali mengingkari(nya)</h3>
        </div>
    </div>

   



    <div class="section">
           <div class="container">
               <h2 style="font-family:Arial Italic"> Berikut adalah Penjelasan Alquran Beserta Audio yang bisa Anda dengar</h2>
               <div class="row">
                {% for a in alquran  %} 
                <div class="content">
                    <div class="text-center">
                    <h1><a href="/">{{a.nama}}</a></h1>
                    <h2>{{a.asma}}</h2>
                    <span class="text-center">{{a.arti}} | {{a.type}} | ayat:{{a.ayat}} </span>
                    <p>{{a.keterangan}}</p>
                    <audio controls="true">
                        <source src={{a.audio}} type="audio/mpeg">
                        Browsermu tidak mendukung tag audio, upgrade donk!
                    </audio>
                </div>
                    </div>
                    <strong><hr><strong>
                    {% endfor %}
               </div>
           </div>
    </div><!-- section -->

    <footer class="footer footer-big">
        <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->
            <div class="copyright">
                &copy; 2022 Alquranku, dibuat dengan cinta
            </div>
        </div>
    </footer>



</div> <!-- wrapper -->
</body>
    <!--  jQuery and Bootstrap core files    -->
    <script src="{% static 'front/js/jquery.js' %}" type="text/javascript"></script>
	<script src="{% static 'front/js/jquery-ui.custom.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'bootstrap3/js/bootstrap.min.js' %}" type="text/javascript"></script>

	<!--  Plugins -->
	<script src="{% static 'front/js/gsdk-checkbox.js' %}"></script>
	<script src="{% static 'front/js/gsdk-morphing.js' %}"></script>
	<script src="{% static 'front/js/gsdk-radio.js' %}"></script>
	<script src="{% static 'front/js/gsdk-bootstrapswitch.js' %}"></script>
	<script src="{% static 'front/js/bootstrap-select.js' %}"></script>
	<script src="{% static 'front/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'front/js/chartist.min.js' %}"></script>
    <script src="{% static 'front/js/jquery.tagsinput.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!--  Get Shit Done Kit PRO Core javascript 	 -->
	<script src="{% static 'front/js/get-shit-done.js' %}"></script>

    <script type="text/javascript">
        var big_image;
        $().ready(function(){
            responsive = $(window).width();

            $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);

            if (responsive >= 768){
                big_image = $('.parallax-image').find('img');

                $(window).on('scroll',function(){
                    parallax();
                });
            }

        });

       var parallax = function() {
            var current_scroll = $(this).scrollTop();

            oVal = ($(window).scrollTop() / 3);
            big_image.css('top',oVal);
        };

    </script>

    <!-- If you are using TypeKit.com uncomment this code otherwise you can delete it -->
    <!--
    <script src="https://use.typekit.net/[your kit code here].js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    -->

    <!-- If you have retina @2x images on your server which can be sent to iPhone/iPad/MacRetina, please uncomment the next line, otherwise you can delete it -->
	<!-- <script src="assets/js/retina.min.js"></script> -->


</html>
