{% extends 'back/base.html' %}
{% block content %}
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th class="text-center">
                    Id
                  </th>
                  <th>
                    Nama
                  </th>
                  <th>
                    Email Adress
                  </th>
                  <th class="text-right">
                    Is Staff
                  </th>
                  <th class="text-right">
                    Actions
                  </th>
                </thead>
                <tbody>
                  {% for i in list_user  %}
                  <tr>
                    <td class="text-center">
                      {{forloop.counter}}
                    </td>
                    <td>
                      {{i.username}}
                    </td>
                    <td>
                      {{i.email}}
                    </td>
                    <td class="text-center">
                      {{i.is_staff}}
                    </td>
                    <td class="text-right">
                      <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
                        <i class="fa fa-user"></i>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm ">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm ">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>

  {% endblock content %}